body
{
    margin: 0;
    padding: 0;
}
section
 {
  width: 100%;
  min-height:200px;
  font-family: 'Playball', cursive;


}

h1
 {
 background-color: #c0c0c0

}
#highlight {
   background-image: linear-gradient( #C4FAF8,#85E3FF);
   
    font-size:24px;
    font-weight: bold;
    font-color:black;
    font-style: normal;
    float: left;
    padding: 10px 50px 10px 50px;
    font-family: fantasy;


}